<app-index-main-banner></app-index-main-banner>
<app-needs></app-needs>
<app-impacted-lives></app-impacted-lives>
<app-start-your-fundraising></app-start-your-fundraising>
<app-fundraising-works></app-fundraising-works>
<app-achievements></app-achievements>
<app-testimonials></app-testimonials>
<app-join-the-conversation></app-join-the-conversation>
<!-- <router-outlet></router-outlet> -->
<!-- <div id="dataLoader" class="loadingBox">
    <div class="group">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="text">Loading...</span>
    </div>
  </div> -->
