<div class="container-fluid">
  <div class="row PageName">
    <div class="container">
      <ul class="breadcrumb">
        <li>
          <a routerLink="">Home</a>
        </li>
        <li class="active">How It Works</li>
      </ul>
      <h1>How It Works</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row sections">
    <div class="container">
      
      <div class="col-xs-12 text-center">
        <h2>How HoSh crowdfunding works</h2>
        <br />
      </div>
      
      

      <div class="col-xs-12 HowHoShWorks">
        <div class="row">
          <div class="HowHoShworks">
          <div>
            <div class='row HHWBox'>
              <div class='headStyle'> <span class='num'>1 </span> <span>Choose a Need </span> </div>
              <div class='imgBox'> <img src='/assets/images/chooseNeed.png' alt="choose needs"> </div>
              <ul>
                <li>Select the cause/gifts</li>
                <li> Register/Login</li>
              </ul>
            </div>
          </div>
          <div>
            <div class='row HHWBox'>
              <div class='headStyle'> <span class='num'>2 </span> <span>Make Your Donation </span> </div>
              <div class='imgBox'> <img src='/assets/images/DonateAmount.png' alt="donate amount"> </div>
              <ul>
                <li> Enter the amount you would like to contribute. Other donors like you will add to your contribution until the need amount is met. </li>
              </ul>
            </div>
          </div>
          <div>
            <div class='row HHWBox'>
              <div class='headStyle'> <span class='num'>3 </span> <span>Track Progress </span> </div>
              <div class='imgBox'> <img src='/assets/images/track-need-progress.png' alt="track needs progress"> </div>
              <ul>
                <li>Get email notifications, once the fund has been raised for the specific need</li>
                <li>Receive timely updates about the need execution and completion</li>
              </ul>
            </div>
          </div>
          <div>
            <div class='row HHWBox'>
              <div class='headStyle'> <span class='num'>4 </span> <span>Receive a Report </span> </div>
              <div class='imgBox'> <img src='/assets/images/reports.png' alt="reports"> </div>
              <ul>
                <li> Receive a detailed report on how your donation was used. </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
