<div class="container-fluid">
  <div class="row PageName">
    <div class="container">
      <ul class="breadcrumb">
        <li><a routerLink="">Home</a></li>
        <li class="active">My Contribution</li>
      </ul>
      <h1>My Contribution</h1>
      
    </div>
  </div>
  <div class="row sections">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 visible-md visible-lg">
          <div class="MenuWapper">
              <ul>
                  <li><a routerLink="/account/my-profile"><i><img src="../assets/images/icon-home.png" class="img-responsive" ></i> My Profile</a> </li>
                  <li class="active"><a routerLink="/account/my-contribution"><i><img src="../assets/images/icon-donation.png" class="img-responsive" ></i> My Contribution</a> </li>
                  <li><a href="{{ChildSponsership+'&type=TaxReceipt'}}" target="_blank"><i><img src="../assets/images/icon-certificates.png" class="img-responsive" ></i> My Receipts</a> </li>
                  <li><a routerLink="/account/share-my-experience"><i><img src="../assets/images/icon-testimoinal.png" class="img-responsive" ></i> Share My Experience</a> </li>
                  <li><a routerLink="/account/notifications"><i><img src="../assets/images/icon-notification.png" class="img-responsive" ></i> Notifications</a> </li>
                  <li><a routerLink="/account/change-password"><i><img src="../assets/images/icon-password.png" class="img-responsive" ></i> Change Password</a> </li>
                  <li><a routerLink="/account/fundraising-activity"><i><img src="../assets/images/icon-fundraising.png" class="img-responsive" ></i> My Fundraising Activity</a> </li>
                  <li><a routerLink="/account/my-cart"><i><img src="/assets/images/cartIcon_myWorld.jpg" class="img-responsive"></i> My Cart</a></li>
                  <li><a href="{{ChildSponsership}}" target="_blank"><i><img src="/assets/images/childSpIcon_myWorld.jpg" class="img-responsive"></i> Child Sponsorship</a></li>
              </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row profileWapper">
            <div class="col-xs-12">
              <div class="MyDonationTAB MyDonation">
                <div>
                  <div class="Tab">
                    <div class="box"><div class="numWrap"><div class="num"> {{AllDonated}} </div></div></div>
                    <p>Donated Needs </p>
                  </div>
                </div>
                <div>
                  <div class="Tab">
                    <div class="box"><div class="numWrap"><div class="num">{{Completed}} </div></div></div>
                    <p> Funding goals achieved </p>
                  </div>
                </div>
                <div>
                  <div class="Tab">
                    <div class="box"><div class="numWrap"><div class="num"> {{InProcess}} </div></div></div>
                    <p>Active needs</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="RecentActivity row">
            <div class="mtabData">
              <div class="sameHeightWrap">
                <div class="col-xs-12 col-sm-6" *ngFor="let need of AllDonatedNeeds">
                  <div class="MainBox">
                    <div class="imageBox">
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_ALT_IMAGE_TEXT}}">
                          <img [defaultImage]="defaultImage" [offset]="offset" [lazyLoad]="need.NEED_THUMBNAIL_IMAGE_6_FILEPATH" alt="{{need.NEED_ALT_IMAGE_TEXT}}" class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a> </div>
                    <div class="BoxName">
                      <div class="icon">
                        <img src="{{need.SECTOR_ICON_FILEPATH}}" alt="{{need.SECTOR_ALT_ICON_TEXT}}">
                      </div>
                      <h2>
                        <a routerLink="/donate/cat-{{need.SECTOR | slugify }}" title="{{need.SECTOR_LINK_DESCRIPTION}}">{{need.SECTOR}}</a>
                        <br>
                        <span>
                          <a routerLink="/donate/{{need.NEEDTYPE | slugify }}" title="{{need.NEEDTYPE_LINK_DESCRIPTION}}">{{need.NEEDTYPE}}</a>
                        </span>
                      </h2>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="sameHeight">
                      <h3><a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">{{need.NEED_NAME}}</a></h3>
                      <p class="discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION?.length>150)? (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>
                      </div>
                    </div>
                    <div class="TotalAmount">
                      <div class="col-xs-5 pa text-center">
                        <img src="/assets/images/icon-goal.png" width="17" height="26">
                        <p class="t1">
                          {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                          <br>
                          <span>Goal</span>
                        </p>
                      </div>
                      <div class="col-xs-7 pa Amount text-left"> Donated
                        <p>
                           {{need.DONATED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="sameHeightWrap">
                <div class="col-xs-12 col-sm-6" *ngFor="let need of CompletedNeeds">
                  <div class="MainBox">
                    <div class="imageBox">
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">
                          <img [defaultImage]="defaultImage" [offset]="offset" alt="{{need.NEED_ALT_IMAGE_TEXT}}" [lazyLoad]="need.NEED_THUMBNAIL_IMAGE_6_FILEPATH" class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a></div>
                    <div class="BoxName">
                      <div class="icon">
                        <img src="{{need.SECTOR_ICON_FILEPATH}}" alt="{{need.SECTOR_ALT_ICON_TEXT}}">
                      </div>
                      <h2>
                        <a routerLink="/donate/cat-{{need.SECTOR | slugify }}" title="{{need.SECTOR_LINK_DESCRIPTION}}">{{need.SECTOR}}</a>
                        <br>
                        <span>
                          <a routerLink="/donate/{{need.NEEDTYPE | slugify }}" title="{{need.NEEDTYPE_LINK_DESCRIPTION}}">{{need.NEEDTYPE}}</a>
                        </span>
                      </h2>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="sameHeight">
                      <h3><a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">{{need.NEED_NAME}}</a></h3>
                      <p class="discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION?.length>150)? (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>
                      </div>
                    </div>
                    <div class="TotalAmount">
                      <div class="col-xs-5 pa text-center">
                        <img src="/assets/images/icon-goal.png" width="17" height="26">
                        <p class="t1">
                          {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                          <br>
                          <span>Goal</span>
                        </p>
                      </div>
                      <div class="col-xs-7 pa Amount text-left"> Donated 
                        <p>
                           {{need.DONATED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="sameHeightWrap">
                <div class="col-xs-12 col-sm-6" *ngFor="let need of InProcessNeeds">
                  <div class="MainBox">
                    <div class="imageBox">
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">
                          <img [defaultImage]="defaultImage" [offset]="offset" alt="{{need.NEED_ALT_IMAGE_TEXT}}" [lazyLoad]="need.NEED_THUMBNAIL_IMAGE_6_FILEPATH" class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a></div>
                    <div class="BoxName">
                      <div class="icon">
                        <img src="{{need.SECTOR_ICON_FILEPATH}}" alt="{{need.SECTOR_ALT_ICON_TEXT}}">
                      </div>
                      <h2>
                        <a routerLink="/donate/cat-{{need.SECTOR | slugify }}" title="{{need.SECTOR_LINK_DESCRIPTION}}">{{need.SECTOR}}</a>
                        <br>
                        <span>
                          <a routerLink="/donate/{{need.NEEDTYPE | slugify }}" title="{{need.NEEDTYPE_LINK_DESCRIPTION}}">{{need.NEEDTYPE}}</a>
                        </span>
                      </h2>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="sameHeight">
                      <h3><a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}">{{need.NEED_NAME}}</a></h3>
                      <p class="discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION?.length>150)? (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>
                      </div>
                    </div>
                    <div class="TotalAmount">
                      <div class="col-xs-5 pa text-center">
                        <img src="/assets/images/icon-goal.png" width="17" height="26">
                        <p class="t1">
                          {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                          <br>
                          <span>Goal</span>
                        </p>
                      </div>
                      <div class="col-xs-7 pa Amount text-left"> Donated 
                        <p>
                           {{need.DONATED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="RecentActivity row">
    <div class="">
        <!-- <div class="" *ngIf="AllDonatedSNIds?.length < 1">
            <div class="col-xs-12 text-center">
                <div class="loadingBox resultNotFound">
                    <div class="group"><img src="/assets/images/records.png"> &nbsp;<span>No Records found</span></div>
                </div>
            </div>
        </div> -->
      <div class="container" *ngIf="AllDonatedSNIds?.length > 0">
        <h2 class="heading">Similar Needs</h2>
        <div class="clearfix"></div>
        <div class="SimilarNeedsParent row">
          <div>
            <div *ngIf="AllDonatedSNIds?.length < 1"> <h4>No Similar Needs Data Found</h4></div>
          <div *ngIf="AllDonatedSNIds?.length > 0">
            <div class="SimilarNeeds sameHeightWrap">              
              <div class="" *ngFor="let need of AllDonatedSNIds">
                <div class="col-xs-12">
                  <div class="MainBox">
                    <div class="imageBox" *ngIf="need.NEEDTYPEID == 1 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">
                      <!--{{need.NEED_THUMBNAIL_IMAGE_FILEPATH  /assets/images/img-view2.png}}-->
                      <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">
                        <img [defaultImage]="defaultImage" [offset]="offset" alt="{{need.NEED_ALT_IMAGE_TEXT}}" [lazyLoad]="need.NEED_THUMBNAIL_IMAGE_6_FILEPATH" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"
                        class="img-responsive"></a>
                      <div *ngIf="need.GROUP_NEED_ID != 0">
                        <div class="flag">
                          <p>Part of 
                            <br/> {{need.GROUP_NEED_TYPE}}</p>
                        </div>
                        <div class="partOfNeedName"><a routerLink="/donate/details/{{need.GROUP_NEED_ID}}/{{need.GROUP_NEED_NAME | slugify }}" title="{{need.GROUP_NEED_LINK_DESCRIPTION}}" style="color:#ffffff;">{{need.GROUP_NEED_NAME}} </a></div>
                      </div>
                    </div>
    
                    <div class="imgSliderWrapper" *ngIf="need.NEEDTYPEID == 2 || need.NEEDTYPEID == 5">
                      <img src="/assets/images/image_not_available.jpg" class="img-responsive viewImgSample"
                      />
                      <div class="noOFNeeds">
                        <h2> {{ need.NEEDS_CHILD.length }}
                          <span *ngIf="need.NEEDS_CHILD.length == 1">Need</span><span *ngIf="need.NEEDS_CHILD.length > 1">Needs</span>
                        </h2>
                      </div>
                      <div class="imgSlider">
                        <div class="imgWrapper" *ngFor="let childNeed of need.NEEDS_CHILD">
                          <div>
                            <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">                          
                              <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{childNeed.NEED_ALT_IMAGE_TEXT}}"
                                class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a>
                            <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">
                              <img src="/assets/images/compleadedNeeds.png" class="compleadedNeedsFlag" />
                              <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{childNeed.NEED_ALT_IMAGE_TEXT}}"
                                  class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';">                              
                                </a>
                            <div class="needName">
                              <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">{{childNeed.NEED_NAME}}</a>
                              <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">{{childNeed.NEED_NAME}}</a>
                            </div>
                          </div>                      
                        </div>
                      </div>  
                    </div>
    
                    <div class="BoxName">
                      <div class="icon">
                          <img src="{{need.SECTOR_ICON_FILEPATH}}" alt="{{need.SECTOR_ALT_ICON_TEXT}}">
                          <!-- <img src="/assets/images/categories_icon_01_Education.png" *ngIf="need.SECTORID == 2"> 
                          <img src="/assets/images/categories_icon_02_EconomicDevelopment.png" *ngIf="need.SECTORID == 1">
                          <img src="/assets/images/categories_icon_03_SpecialChildren.png" *ngIf="need.SECTORID == 3">
                          <img src="/assets/images/categories_icon_04_WaterAndSanitation.png" *ngIf="need.SECTORID == 4">
                          <img src="/assets/images/categories_icon_05_HealthAndNutrition.png" *ngIf="need.SECTORID == 5">
                          <img src="/assets/images/categories_icon_01_Education.png" *ngIf="need.SECTORID == 6"> -->
                      </div>
                      <h2>
                          <a routerLink="/donate/cat-{{need.SECTOR | slugify }}" title="{{need.SECTOR_LINK_DESCRIPTION}}">{{need.SECTOR}}</a>
                         <!-- {{need.SECTOR}}   -->
                        <br>
                        <span>
                          <a routerLink="/donate/{{need.NEEDTYPE | slugify }}" title="{{need.NEEDTYPE_LINK_DESCRIPTION}}">{{need.NEEDTYPE}}</a>
                        </span>
                      </h2>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="sameHeight">
                      <h3>
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">{{need.NEED_NAME}}</a>
                      </h3>
    
                      <p class="discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION.length>150)? (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>
                      </div>
                      <div class="row" *ngIf='need.NEEDTYPEID == 2 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4 || need.NEEDTYPEID == 5'>
                        <div class="col-xs-3 col-sm-3 col-md-3  f-Bold">&nbsp;
                          <p>&nbsp;</p>
                        </div>
                      </div>
    
    
                      <div class="row" *ngIf='need.NEEDTYPEID == 1'>
                        <div class="col-xs-4 col-sm-3 f-Bold">
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{need.DONATION_AMOUNT_FOR_LARGE_NEED | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <p>Raised</p>
                        </div>
                        <div class="col-xs-4 col-sm-5 text-center f-Bold">
                          <div class="percentage">
                            <p class="count" *ngIf="need.NEEDTYPEID !== 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)}}
                              <span>%</span>
                            </p>
                            <div class="bgarea" *ngIf="need.NEEDTYPEID !== 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)"></div>
    
                            <p class="count" *ngIf="need.NEEDTYPEID == 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)}}
                              <span>%</span>
                            </p>
                            <div class="bgarea" *ngIf="need.NEEDTYPEID == 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)"></div>
                          </div>
                          <p>Completed</p>
                        </div>
                        <div class="col-xs-4 f-Bold">
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{ need.TOTAL_NEED_AMOUNT - need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{ (need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED - need.DONATION_AMOUNT_FOR_LARGE_NEED) | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <br/>
                          <p>Required</p>
                        </div>
                      </div>
                    </div>
    
                    <div class=" GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 3 || need.NEEDTYPEID == 5 || need.NEEDTYPEID == 4'>
                      <div class="col-xs-6 col-sm-6 col-md-6 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal4.png">
                        </div>
                        <p>
                          {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                          <span class="name" *ngIf="need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">Gift Amount</span>
                          <span class="name" *ngIf="need.NEEDTYPEID == 5">Campaigner</span>
                        </p>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal2.png">
                        </div>
                        <p>{{need.TOTAL_DONORS}}
                          <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                          <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                        </p>
                      </div>
                    </div>
    
    
                    <div class="GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 1 || need.NEEDTYPEID == 2'>
                      <div class="col-xs-4 col-sm-4 col-lg-4 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal.png">
                        </div>
                        <p>
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '4.0-0' }} </span> <!-- number:0 -->
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{ need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED | currency : 'INR' : 'symbol-narrow' : '4.0-0' }} </span>
                          <span class="name">Goal</span>
                        </p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-lg-4  border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal2.png">
                        </div>
                        <p>{{need.TOTAL_DONORS}}
                          <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                          <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                        </p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-lg-4 ">
                        <div class="icon">
                          <img src="/assets/images/icon-goal3.png">
                        </div>
                        <p>
                          <span class="name">
                            <strong *ngIf="need.NEEDTYPEID !== 2">{{CalculateDays(need.END_DATE)}}</strong>
                            <strong *ngIf="need.NEEDTYPEID == 2">{{need.DAYS_LEFT_FOR_LARGE_NEED}}</strong>
                            <br/>Days Left</span>
                        </p>
                      </div>
                    </div>                                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
            
            <div *ngIf="InProcessSNIds?.length < 1"> <h4>No Similar Needs Data Found</h4></div>
          <div *ngIf="InProcessSNIds?.length > 0">            
            <div class="SimilarNeeds sameHeightWrap">
              <div class="" *ngFor="let need of InProcessSNIds">
                <div class="col-xs-12">
                  <div class="MainBox">
                    
                    
                    <div class="imageBox" *ngIf="need.NEEDTYPEID == 1 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">
                      <!--{{need.NEED_THUMBNAIL_IMAGE_FILEPATH  /assets/images/img-view2.png}}-->
                      <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}"><img [defaultImage]="defaultImage" [offset]="offset" [lazyLoad]="need.NEED_THUMBNAIL_IMAGE_6_FILEPATH" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"
                        class="img-responsive"></a>
                      <div *ngIf="need.GROUP_NEED_ID != 0">
                        <div class="flag">
                          <p>Part of 
                            <br/> {{need.GROUP_NEED_TYPE}}</p>
                        </div>
                        <div class="partOfNeedName"><a routerLink="/donate/details/{{need.GROUP_NEED_ID}}/{{need.GROUP_NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}" style="color:#ffffff;">{{need.GROUP_NEED_NAME}} </a></div>
                      </div>
                    </div>
    
                    <div class="imgSliderWrapper" *ngIf="need.NEEDTYPEID == 2 || need.NEEDTYPEID == 5">
                      <img src="/assets/images/image_not_available.jpg" class="img-responsive viewImgSample"
                      />
                      <div class="noOFNeeds">
                        <h2> {{ need.NEEDS_CHILD.length }}
                          <span *ngIf="need.NEEDS_CHILD.length == 1">Need</span><span *ngIf="need.NEEDS_CHILD.length > 1">Needs</span>
                        </h2>
                      </div>
                      <div class="imgSlider">
                        <div class="imgWrapper" *ngFor="let childNeed of need.NEEDS_CHILD">
                          <div>
                            <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">                          
                              <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{childNeed.NEED_ALT_IMAGE_TEXT}}"
                                class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a>
                            <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">
                              <img src="/assets/images/compleadedNeeds.png" class="compleadedNeedsFlag" />
                              <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{childNeed.NEED_ALT_IMAGE_TEXT}}"
                                  class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';">                              
                                </a>
                            <div class="needName">
                              <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">{{childNeed.NEED_NAME}}</a>
                              <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">{{childNeed.NEED_NAME}}</a>
                            </div>
                          </div>                      
                        </div>
                      </div>  
                    </div>
    
                    <div class="BoxName">
                      <div class="icon">
                        <img src="{{need.SECTOR_ICON_FILEPATH}}" alt="{{need.SECTOR_ALT_ICON_TEXT}}">
                      </div>
                      <h2>
                          <a routerLink="/donate/cat-{{need.SECTOR | slugify }}" title="{{need.SECTOR_LINK_DESCRIPTION}}">{{need.SECTOR}}</a>
                         <!-- {{need.SECTOR}}   -->
                        <br>
                        <span>
                          <a routerLink="/donate/{{need.NEEDTYPE | slugify }}" title="{{need.NEEDTYPE_LINK_DESCRIPTION}}">{{need.NEEDTYPE}}</a>
                        </span>
                      </h2>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="sameHeight">
                      <h3>
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">{{need.NEED_NAME}}</a>
                      </h3>
    
                      <p class="discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION.length>150)? (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>
                      </div>
                      <div class="row" *ngIf='need.NEEDTYPEID == 2 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4 || need.NEEDTYPEID == 5'>
                        <div class="col-xs-3 col-sm-3 col-md-3  f-Bold">&nbsp;
                          <p>&nbsp;</p>
                        </div>
                      </div>
    
    
                      <div class="row" *ngIf='need.NEEDTYPEID == 1'>
                        <div class="col-xs-4 col-sm-3 f-Bold">
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{need.DONATION_AMOUNT_FOR_LARGE_NEED | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <p>Raised</p>
                        </div>
                        <div class="col-xs-4 col-sm-5 text-center f-Bold">
                          <div class="percentage">
                            <p class="count" *ngIf="need.NEEDTYPEID !== 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)}}
                              <span>%</span>
                            </p>
                            <div class="bgarea" *ngIf="need.NEEDTYPEID !== 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)"></div>
    
                            <p class="count" *ngIf="need.NEEDTYPEID == 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)}}
                              <span>%</span>
                            </p>
                            <div class="bgarea" *ngIf="need.NEEDTYPEID == 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)"></div>
                          </div>
                          <p>Completed</p>
                        </div>
                        <div class="col-xs-4 f-Bold">
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{ need.TOTAL_NEED_AMOUNT - need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{ (need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED - need.DONATION_AMOUNT_FOR_LARGE_NEED) | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <br/>
                          <p>Required</p>
                        </div>
                      </div>
                    </div>
    
                    <div class=" GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 3 || need.NEEDTYPEID == 5 || need.NEEDTYPEID == 4'>
                      <div class="col-xs-6 col-sm-6 col-md-6 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal4.png">
                        </div>
                        <p>
                          {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                          <span class="name" *ngIf="need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">Gift Amount</span>
                          <span class="name" *ngIf="need.NEEDTYPEID == 5">Campaigner</span>
                        </p>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="icon">
                          <img src="/assets/images/icon-goal2.png">
                        </div>
                        <p>{{need.TOTAL_DONORS}}
                          <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                          <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                        </p>
                      </div>
                    </div>
    
    
                    <div class="GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 1 || need.NEEDTYPEID == 2'>
                      <div class="col-xs-4 col-sm-4 col-lg-4 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal.png">
                        </div>
                        <p>
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '4.0-0' }} </span> <!-- number:0 -->
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{ need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED | currency : 'INR' : 'symbol-narrow' : '4.0-0' }} </span>
                          <span class="name">Goal</span>
                        </p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-lg-4  border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal2.png">
                        </div>
                        <p>{{need.TOTAL_DONORS}}
                          <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                          <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                        </p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-lg-4 ">
                        <div class="icon">
                          <img src="/assets/images/icon-goal3.png">
                        </div>
                        <p>
                          <span class="name">
                            <strong *ngIf="need.NEEDTYPEID !== 2">{{CalculateDays(need.END_DATE)}}</strong>
                            <strong *ngIf="need.NEEDTYPEID == 2">{{need.DAYS_LEFT_FOR_LARGE_NEED}}</strong>
                            <br/>Days Left</span>
                        </p>
                      </div>
                    </div>                                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
            
            <div *ngIf="CompletedSNIds?.length < 1"> <h4> No Similar Needs Data Found</h4></div>
          <div *ngIf="CompletedSNIds?.length > 0">           
            <div class="SimilarNeeds sameHeightWrap">
              <div class="" *ngFor="let need of CompletedSNIds">
                <div class="col-xs-12">
                  <div class="MainBox">
                    
                    
                    <div class="imageBox" *ngIf="need.NEEDTYPEID == 1 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">
                          <img src="{{need.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{need.NEED_ALT_IMAGE_TEXT}}" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"
                        class="img-responsive"></a>
                      <div *ngIf="need.GROUP_NEED_ID != 0">
                        <div class="flag">
                          <p>Part of 
                            <br/> {{need.GROUP_NEED_TYPE}}</p>
                        </div>
                        <div class="partOfNeedName"><a routerLink="/donate/details/{{need.GROUP_NEED_ID}}/{{need.GROUP_NEED_NAME | slugify }}" title="{{need.GROUP_NEED_LINK_DESCRIPTION}}" style="color:#ffffff;">{{need.GROUP_NEED_NAME}} </a></div>
                      </div>
                    </div>
    
                    <div class="imgSliderWrapper" *ngIf="need.NEEDTYPEID == 2 || need.NEEDTYPEID == 5">
                      <img src="/assets/images/image_not_available.jpg" class="img-responsive viewImgSample"
                      />
                      <div class="noOFNeeds">
                        <h2> {{ need.NEEDS_CHILD.length }}
                          <span *ngIf="need.NEEDS_CHILD.length == 1">Need</span><span *ngIf="need.NEEDS_CHILD.length > 1">Needs</span>
                        </h2>
                      </div>
                      <div class="imgSlider">
                        <div class="imgWrapper" *ngFor="let childNeed of need.NEEDS_CHILD">
                          <div>
                            <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">                          
                              <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{childNeed.NEED_ALT_IMAGE_TEXT}}"
                                class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a>
                            <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">
                              <img src="/assets/images/compleadedNeeds.png" class="compleadedNeedsFlag" />
                              <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" alt="{{childNeed.NEED_ALT_IMAGE_TEXT}}"
                                  class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';">                              
                                </a>
                            <div class="needName">
                              <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">{{childNeed.NEED_NAME}}</a>
                              <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}" title="{{childNeed.NEED_LINK_DESCRIPTION}}">{{childNeed.NEED_NAME}}</a>
                            </div>
                          </div>                      
                        </div>
                      </div>  
                    </div>
    
                    <div class="BoxName">
                      <div class="icon">
                        <img src="{{need.SECTOR_ICON_FILEPATH}}" alt="{{need.SECTOR_ALT_ICON_TEXT}}">
                      </div>
                      <h2>
                          <a routerLink="/donate/cat-{{need.SECTOR | slugify }}" title="{{need.SECTOR_LINK_DESCRIPTION}}">{{need.SECTOR}}</a>
                         <!-- {{need.SECTOR}}   -->
                        <br>
                        <span>
                          <a routerLink="/donate/{{need.NEEDTYPE | slugify }}" title="{{need.NEEDTYPE_LINK_DESCRIPTION}}">{{need.NEEDTYPE}}</a>
                        </span>
                      </h2>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="sameHeight">
                      <h3>
                        <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}" title="{{need.NEED_LINK_DESCRIPTION}}">{{need.NEED_NAME}}</a>
                      </h3>
    
                      <p class="discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION.length>150)? (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>
                      </div>
                      <div class="row" *ngIf='need.NEEDTYPEID == 2 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4 || need.NEEDTYPEID == 5'>
                        <div class="col-xs-3 col-sm-3 col-md-3  f-Bold">&nbsp;
                          <p>&nbsp;</p>
                        </div>
                      </div>
    
    
                      <div class="row" *ngIf='need.NEEDTYPEID == 1 '>
                        <div class="col-xs-4 col-sm-3 f-Bold">
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{need.DONATION_AMOUNT_FOR_LARGE_NEED | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <p>Raised</p>
                        </div>
                        <div class="col-xs-4 col-sm-5 text-center f-Bold">
                          <div class="percentage">
                            <p class="count" *ngIf="need.NEEDTYPEID !== 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)}}
                              <span>%</span>
                            </p>
                            <div class="bgarea" *ngIf="need.NEEDTYPEID !== 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)"></div>
    
                            <p class="count" *ngIf="need.NEEDTYPEID == 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)}}
                              <span>%</span>
                            </p>
                            <div class="bgarea" *ngIf="need.NEEDTYPEID == 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)"></div>
                          </div>
                          <p>Completed</p>
                        </div>
                        <div class="col-xs-4 f-Bold">
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{ need.TOTAL_NEED_AMOUNT - need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{ (need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED - need.DONATION_AMOUNT_FOR_LARGE_NEED) | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                          <br/>
                          <p>Required</p>
                        </div>
                      </div>
                    </div>
    
                    <div class=" GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 3 || need.NEEDTYPEID == 5 || need.NEEDTYPEID == 4'>
                      <div class="col-xs-6 col-sm-6 col-md-6 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal4.png">
                        </div>
                        <p>
                          {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                          <span class="name" *ngIf="need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">Gift Amount</span>
                          <span class="name" *ngIf="need.NEEDTYPEID == 5">Campaigner</span>
                        </p>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="icon">
                          <img src="/assets/images/icon-goal2.png">
                        </div>
                        <p>{{need.TOTAL_DONORS}}
                          <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                          <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                        </p>
                      </div>
                    </div>
    
    
                    <div class="GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 1 || need.NEEDTYPEID == 2'>
                      <div class="col-xs-4 col-sm-4 col-lg-4 border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal.png">
                        </div>
                        <p>
                          <span *ngIf="need.NEEDTYPEID !== 2">
                            {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '4.0-0' }} </span> <!-- number:0 -->
                          <span *ngIf="need.NEEDTYPEID == 2">
                            {{ need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED | currency : 'INR' : 'symbol-narrow' : '4.0-0' }} </span>
                          <span class="name">Goal</span>
                        </p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-lg-4  border">
                        <div class="icon">
                          <img src="/assets/images/icon-goal2.png">
                        </div>
                        <p>{{need.TOTAL_DONORS}}
                          <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                          <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                        </p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-lg-4 ">
                        <div class="icon">
                          <img src="/assets/images/icon-goal3.png">
                        </div>
                        <p>
                          <span class="name">
                            <strong *ngIf="need.NEEDTYPEID !== 2">{{CalculateDays(need.END_DATE)}}</strong>
                            <strong *ngIf="need.NEEDTYPEID == 2">{{need.DAYS_LEFT_FOR_LARGE_NEED}}</strong>
                            <br/>Days Left</span>
                        </p>
                      </div>
                    </div>                                
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-12">



          </div>
        </div>
      </div>
    </div>
  </div>
</div>