<div class="container-fluid">
    <div class="row PageName">
      <div class="container">
        <ul class="breadcrumb">
          <li>
            <a routerLink="">Home</a>
          </li>
          <li class="active">Change Password</li>
        </ul>
        <h1>Change Password</h1>
        
      </div>
    </div>
    <div class="row sections">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-3 visible-md visible-lg">
              <div class="MenuWapper">
                <ul>
                    <li ><a routerLink="/account/my-profile"><i><img src="../assets/images/icon-home.png" class="img-responsive" ></i> My Profile</a> </li>
                    <li><a routerLink="/account/my-contribution"><i><img src="../assets/images/icon-donation.png" class="img-responsive" ></i> My Contribution</a> </li>
                    <li><a href="{{ChildSponsership+'&type=TaxReceipt'}}" target="_blank"><i><img src="../assets/images/icon-certificates.png" class="img-responsive" ></i> My Receipts</a> </li>
                    <li ><a routerLink="/account/share-my-experience"><i><img src="../assets/images/icon-testimoinal.png" class="img-responsive" ></i> Share My Experience</a> </li>
                    <li><a routerLink="/account/notifications"><i><img src="../assets/images/icon-notification.png" class="img-responsive" ></i> Notifications</a> </li>
                    <li class="active"><a routerLink="/account/change-password"><i><img src="../assets/images/icon-password.png" class="img-responsive" ></i> Change Password</a> </li>
                    <li><a routerLink="/account/fundraising-activity"><i><img src="../assets/images/icon-fundraising.png" class="img-responsive" ></i> My Fundraising Activity</a> </li>
                    <li><a routerLink="/account/my-cart"><i><img src="/assets/images/cartIcon_myWorld.jpg" class="img-responsive"></i> My Cart</a></li>
                    <li><a href="{{ChildSponsership}}" target="_blank"><i><img src="/assets/images/childSpIcon_myWorld.jpg" class="img-responsive"></i> Child Sponsorship</a></li>
                    
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-9">
              <div class="row">
                
                <div class="changePassWrap">
                    <form #ChanhePasswordForm="ngForm" (ngSubmit)="ChangePassword(ChanhePasswordForm)">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="firstname" class="control-label" for="CP_Current_Password">Current Password</label>
                                    <input type="password" [(ngModel)]="CURRENT_PASSWORD" #CURR_PASSWORD="ngModel" id="CP_Current_Password" name="CP_Current_Password" class="form-control" placeholder="Current Password" pattern="{{currentPassword}}" required >
                                    <div class="errorMsg" *ngIf="(CURR_PASSWORD.touched && !CURR_PASSWORD.valid) || (ChanhePasswordForm.submitted && !CURR_PASSWORD.valid)">
                                        <span *ngIf="CURR_PASSWORD.errors.required">Password is required.</span>
                                        <span *ngIf="CURR_PASSWORD.errors.pattern">Please enter valid password </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 ">
                                <div class="form-group">
                                    <label for="lastname" class="control-label" for="CP_New_Password">New Password</label>
                                    <input type="password" (blur)="NewPassword(CURRENT_PASSWORD, CONFIRM_PASSWORD, $event)" [(ngModel)]="NEW_PASSWORD" #N_PASSWORD="ngModel" name="CP_New_Password" class="form-control" id="CP_New_Password" placeholder="New Password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*+()-_+=])(?=\S+$).{8,}$" required >
                                    <div class="errorMsg" *ngIf="(N_PASSWORD.touched && !N_PASSWORD.valid) || (ChanhePasswordForm.submitted && !N_PASSWORD.valid)">
                                        <span *ngIf="N_PASSWORD.errors.required">New Password is required.</span>
                                        <span *ngIf="N_PASSWORD.errors.pattern">Password must be 8-20 characters and include at least 1 number, capital letter and special character. </span>
                                    </div>
                                    <div class="errorMsg" *ngIf="ERROR_NEW_PASSWORD">
                                        <span >Please Enter Diffrent Password</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="lastname" class="control-label" for="CP_Confirm_Password">Confirm New Password</label>
                                    <input type="password" (blur)="ConfirmPassword(NEW_PASSWORD, $event)" [(ngModel)]="CONFIRM_PASSWORD" #CON_PASSWORD="ngModel" name="CP_Confirm_Password"class="form-control" id="CP_Confirm_Password" placeholder="Confirm Password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*+()-_+=])(?=\S+$).{8,}$" required >
                                    <div class="errorMsg" *ngIf="(CON_PASSWORD.touched && !CON_PASSWORD.valid) || (ChanhePasswordForm.submitted && !CON_PASSWORD.valid) ">
                                        <span *ngIf="CON_PASSWORD.errors.required">Confirm New Password is required.</span>
                                        <!-- <span *ngIf="CON_PASSWORD.errors.pattern">Password Should one number, Match </span>                                         -->
                                    </div>
                                    <div class="errorMsg" *ngIf="ERROR_CONFIRM_PASSWORD">
                                        <span >New password mismatch. Please check. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                              <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

