<div class="container-fluid">
    <div class="row PageName">
        <div class="container">
            <ul class="breadcrumb">
                <li><a routerLink="">Home</a></li>
                <li><a href="#">About Us </a></li>
                <li><a routerLink="/about/blog">Blog</a></li>
                 <li><a routerLink="/about/blog/{{BlogTitle}}">{{BlogTitle}}</a></li>
            </ul>
            <h1 class="pull-left">{{BlogTitle}}</h1>
        </div>
    </div>

    <div class="row Blog sections">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" id="blogs">
                    <!-- <div class="" *ngIf="BlogData?.length < 1">
                        <div class="col-xs-12 text-center">
                            <div class="loadingBox resultNotFound">
                                <div class="group"><img src="/assets/images/records.png"> &nbsp;<span>No Records
                                        found</span></div>
                            </div>
                        </div>
                    </div> -->

                    <div class="BlogText" *ngFor="let blog of BlogData">
                        <div class="Image"><img src="{{blog.BLOG_IMAGE_3_FILEPATH}}" alt="{{blog.BLOG_ALT_IMAGE_TEXT}}" alt="" onerror="this.onerror=''; this.src='/assets/images/blog-img1.jpg';"
                                class="img-responsive"></div>
                        <div class="bg"></div>
                        <div class="Continent">
                            <div class="pull-right">
                                <div class="col-xs-12">
                                    <ul class="shareicon" style="float:none;">
                                        <li style="display: inline-block; float:none;">
                                            <div id="shareButtonF2" style="display: inline-block; float: none; margin-right: 10px"
                                                class="need-share-button-default" data-share-icon-style="box"
                                                data-share-networks="Facebook,Twitter,GooglePlus,Linkedin"
                                                data-share-share-button-class="custom-button">
                                                <span class="custom-button"><img src="/assets/images/icon-share.png"
                                                        class="icon" style="margin: 0 !important" /></span>
                                            </div>
                                            Share
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <p class="DatepostText"><strong>{{blog.ENTRYDATE | date :'fullDate' }}</strong> </p>
                            <p [innerHTML]="blog.DESCRIPTION"></p>
                        </div>
                    </div>
                    <div class="paginationWapper" id="pager"></div>
                </div>
            </div>
        </div>

        <div class="container CommentsWapper">
            <div class="col-xs-12" id="comments" data-anchor="comments">
                <h2>Comments</h2>
                <div class="CommentsBox">
                    <form>
                        <input id="ipAddress" name="ipAddress" type="hidden" />
                        <input name="cumment" id="comment" type="text" class="form-control" placeholder="Leave a message">
                        <button class="BtnBox" type="submit" (click)="postComment()">Post</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="UserComentWapper">
                            <div class="col-xs-12" *ngFor="let comment of blogComentsData">
                                <hr>
                                <div class="UserImg">
                                    <img src="comment.DONOR_PROFILE_IMAGE_FILEPATH" class="img-circle" onerror="this.onerror=''; this.src='/assets/images/comment-profile-photo.png';">
                                </div>
                                <div class="UserComent">
                                    <p class="name pull-left">{{comment.DONOR_USERNAME}}</p>
                                    <p class="hours pull-right">{{comment.ENTRYDATE | timeAgo }}</p>
                                    <div class="clearfix"></div>
                                    <p class="Comment">{{comment.COMMENTS}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:void(0)" class="BtnBox" (click)="open(ViewMoreComments)" *ngIf="blogComentsData?.length > 5">Read
                                all Comments</a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>