<div class="container-fluid" style="background: #f6f6f6;">
    <div class="row PageName">
      <div class="container">
        <ul class="breadcrumb">
            <li><a routerLink="">Home</a></li>
          <li  class="active">How Fundraising Works</li>
        </ul>
        <h1 class="pull-left">How Fundraising Works</h1>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="StapBoxWapper">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-8 pull-right"> <img src="/assets/images/iconstap.png" class="stapimg">
                <h2>1 <span>Register/Login </span></h2>
                <div class="clearfix"></div>              
                <p>You can register with your Email ID.</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 pull-left"><img src="/assets/images/mobleimg-1.png" class="mobileimg img-responsive" ></div>
              <div class="col-xs-12  border"><img src="/assets/images/stap-line2.png" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-8 col-md-8"> <img src="/assets/images/iconstap.png" class="stapimg">
              <h2>2 <span>Select a cause</span></h2>
              <div class="clearfix"></div>
              <p>
                Choose a cause that matters to you. It could be across a particular Need Type (Individual Needs, Large Needs, Recurring Gifts, etc) or across categories like Health, Water & Sanitation, Economic Development, Education or Gifts for Children with Disability.</p>
              
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4"><img src="/assets/images/mobleimg-2.png" class="mobileimg  img-responsive" ></div>
            <div class="col-xs-12  border"><img src="/assets/images/stap-line1.png" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 pull-right"> <img src="/assets/images/iconstap.png" class="stapimg">
              <h2>3 <span>Invite your friends	 </span></h2>
              <div class="clearfix"></div>              
              <ul>
                  <li>Choose a need and the amount to be raised.	</li>
                  <li>Add a description on why you chose that need.	</li>
                  <li>Share with your friends through social network/email.	</li>
                  <li>You can send reminders as often as you want.	</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 pull-left"><img src="/assets/images/mobleimg-3.png" class="mobileimg  img-responsive" ></div>
            <div class="col-xs-12  border"><img src="/assets/images/stap-line2.png" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-8 col-md-8"> <img src="/assets/images/iconstap.png" class="stapimg">
              <h2>4 <span>Track Need Progress</span></h2>
              <div class="clearfix"></div>
              <ul>
                 <li>Receive status e-mails.		</li>
                 <li>Track the progress.		</li>
                 <li>Get email notifications, once the fund has been raised for the specific need.		</li>                
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4"><img src="/assets/images/mobleimg-5.png" class="mobileimg  img-responsive" ></div>
            <div class="col-xs-12  border"><img src="/assets/images/stap-line1.png" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 pull-right"> <img src="/assets/images/iconstap.png" class="stapimg">
              <h2>5 <span>Stay updated! </span></h2>
              <div class="clearfix"></div>            
              <ul>
                  <li> Receive timely updates about the need execution and completion.	</li>
                  <li> Receive a detailed report that will feature the journey map of the need chosen, the amount paid, the action implemented, pictures/videos of beneficiary and beneficiary testimonials.		</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 pull-left"><img src="/assets/images/mobleimg-4.png" class="mobileimg  img-responsive" ></div>
          </div>
          <div class="col-xs-12 listingBar">
              <br/>
              <br/><br/>
              <br/>
              <button type="button" class="BtnBox text-center" (click)="StartFundraising()">Start Fundraising</button>
              <br/>
              <br/>
              <br/>
            </div>
        </div>
      </div>
    </div>
  </div>