<div class="container-fluid">
  <div class="row PageName">
    <div class="container">
      <ul class="breadcrumb">
        <li><a routerLink="">Home</a></li>
        <li><a href="#">About Us </a></li>
        <li class="active">Corporate Partnerships</li>
      </ul>
      <h1>Corporate Partnerships</h1>
      <div class="filterBTN"></div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="row">
        <!-- <div class="" *ngIf="ActiveClientData?.length < 1">
          <div class="col-xs-12 text-center">
            <div class="loadingBox resultNotFound">
              <div class="group"><img src="/assets/images/records.png"> &nbsp;<span>No Records
                  found</span></div>
            </div>
          </div>
        </div> -->
        <div class="col-xs-12 col-sm-4">
          <div *ngFor="let ActiveClient of ActiveClientData">
            <h3>{{ActiveClient.PARTNER_NAME}}</h3>
            <p [innerHTML]="ActiveClient.PARTNER_DESCRIPTION"></p>
            <!-- <img src="/assets/images/0004.jpg" class="img-responsive" /> -->
          </div>


          <!-- <h3>Gallery</h3>
                      <div class="col-xs-12">
                        <div class="row">
                              <div class="videoBox"><img src="/assets/images/video-1.jpg" class="img-responsive" /></div>
                              <div class="videoBox"><img src="/assets/images/video-2.jpg" class="img-responsive" /></div>
                              <div class="videoBox"><img src="/assets/images/video3.jpg" class="img-responsive" /></div>
                              <div class="videoBox"><img src="/assets/images/video-1.jpg" class="img-responsive" /></div>
                              <div class="videoBox"><img src="/assets/images/video-2.jpg" class="img-responsive" /></div>
                              <div class="videoBox"><img src="/assets/images/video3.jpg" class="img-responsive" /></div>
                          </div>
                      </div> -->
        </div>
        <div class="col-xs-12 col-sm-8" style="border-left:1px solid #dadada;">
                    <div class="clientWrap" *ngFor="let client of CorporateTieUpsData; let i = index">
                        <div [ngClass]="i == 0 ? 'client-logo active' : 'client-logo' " (click)="ActiveClient(client.PARTNERID)"><img src="{{client.PARTNER_LOGO_FILEPATH}}" width="170" height="95" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';" /><div class="data"><h3>{{client.PARTNER_NAME}}</h3></div></div>                    
                    </div> 
                  </div>
 
      </div>
    </div>
  </div>
  <div class="row listviewWapper">
    <div class="container similerData" *ngIf="SimilarStories?.length > 0">
      <h3>Needs Your Corporate Can Support </h3>
      <!-- <div class="" *ngIf="SimilarStories?.length < 1">
        <div class="col-xs-12 text-center">
          <div class="loadingBox resultNotFound">
            <div class="group"><img src="/assets/images/records.png"> &nbsp;<span>No Records
                found</span></div>
          </div>
        </div>
      </div> -->
      <div class="row sameHeightWrap SimilarStories">
        <div *ngFor="let need of SimilarStories; let i = index;">
          <div class="col-xs-12">
            <div class="MainBox">
              <div class="Icons checkbox cartImg" *ngIf="need.NEEDTYPEID == 1 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">
                <input type="checkbox" id="cartNeedId{{need.NEEDID}}" value="{{need.NEEDID}}" name="cartNeedId{{need.NEEDID}}"
                  class="cartCheckbox" (change)='AddNeedInCart($event)'>
              </div>
              <div class="imageBox" *ngIf="need.NEEDTYPEID == 1 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4">
                <!--{{need.NEED_THUMBNAIL_IMAGE_FILEPATH  /assets/images/img-view2.png}}-->
                <img src="{{need.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"
                  class="img-responsive">
                <div *ngIf="need.GROUP_NEED_ID != 0">
                  <div class="flag">
                    <p>Part of
                      <br /> {{need.GROUP_NEED_TYPE}}</p>
                  </div>
                  <div class="partOfNeedName">{{need.GROUP_NEED_NAME}} </div>
                </div>
              </div>

              <div class="imgSliderWrapper" *ngIf="need.NEEDTYPEID == 2 || need.NEEDTYPEID == 5">
                <img src="/assets/images/image_not_available.jpg" class="img-responsive viewImgSample" />
                <div class="noOFNeeds">
                  <h2> {{ need.NEEDS_CHILD.length }}
                    <span *ngIf="need.NEEDS_CHILD.length == 1">Need</span><span *ngIf="need.NEEDS_CHILD.length > 1">Needs</span>
                  </h2>
                </div>
                <div class="imgSlider">
                  <div class="imgWrapper" *ngFor="let childNeed of need.NEEDS_CHILD">
                    <div>
                      <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}">
                        <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';"></a>
                      <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}">
                        <img src="/assets/images/compleadedNeeds.png" class="compleadedNeedsFlag" />
                        <img src="{{childNeed.NEED_THUMBNAIL_IMAGE_6_FILEPATH}}" class="img-responsive" onerror="this.onerror=''; this.src='/assets/images/image_not_available.jpg';">
                      </a>
                      <div class="needName">
                        <a *ngIf="childNeed.STATUS_INFORMATION !== 'Donation Completed'" routerLink="/donate/details/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}">{{childNeed.NEED_NAME}}</a>
                        <a *ngIf="childNeed.STATUS_INFORMATION == 'Donation Completed'" routerLink="/donate/completed-needs/{{childNeed.NEEDID}}/{{childNeed.NEED_NAME | slugify }}">{{childNeed.NEED_NAME}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="BoxName">
                <div class="icon">
                  <img src="{{need.SECTOR_ICON_FILEPATH}}">
                  <!-- <img src="/assets/images/categories_icon_01_Education.png" *ngIf="need.SECTORID == 2"> 
                          <img src="/assets/images/categories_icon_02_EconomicDevelopment.png" *ngIf="need.SECTORID == 1">
                          <img src="/assets/images/categories_icon_03_SpecialChildren.png" *ngIf="need.SECTORID == 3">
                          <img src="/assets/images/categories_icon_04_WaterAndSanitation.png" *ngIf="need.SECTORID == 4">
                          <img src="/assets/images/categories_icon_05_HealthAndNutrition.png" *ngIf="need.SECTORID == 5">
                          <img src="/assets/images/categories_icon_01_Education.png" *ngIf="need.SECTORID == 6"> -->
                </div>
                <h2>
                  <a routerLink="/donate/cat-{{need.SECTOR | slugify }}">{{need.SECTOR}}</a>
                  <br>
                  <span>
                    <a routerLink="/donate/{{need.NEEDTYPE | slugify }}">{{need.NEEDTYPE}}</a>
                  </span>
                </h2>
                <div class="clearfix"></div>
                <hr>
                <h3>
                  <a routerLink="/donate/details/{{need.NEEDID}}/{{need.NEED_NAME | slugify }}">{{need.NEED_NAME}}</a>
                </h3>

                <p class="sameHeight discription" [innerHTML]="(need.NEED_SHORT_DESCRIPTION.length>150)?
                  (need.NEED_SHORT_DESCRIPTION | slice:0:150)+'..':(need.NEED_SHORT_DESCRIPTION)"></p>

                <div class="row" *ngIf='need.NEEDTYPEID == 2 || need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4 || need.NEEDTYPEID == 5'>
                  <div class="col-xs-3 col-sm-3 col-md-3  f-Bold">&nbsp;
                    <p>&nbsp;</p>
                  </div>
                </div>


                <div class="row" *ngIf='need.NEEDTYPEID == 1'>
                  <div class="col-xs-4 col-sm-3 f-Bold">
                    <span *ngIf="need.NEEDTYPEID !== 2">
                      {{need.DONATION_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                    <span *ngIf="need.NEEDTYPEID == 2">
                      {{need.DONATION_AMOUNT_FOR_LARGE_NEED | currency : 'INR' :
                      'symbol-narrow' : '1.0-0'}}</span>
                    <p>Raised</p>
                  </div>
                  <div class="col-xs-4 col-sm-5 text-center f-Bold">
                    <div class="percentage">
                      <p class="count" *ngIf="need.NEEDTYPEID !== 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)}}
                        <span>%</span>
                      </p>
                      <div class="bgarea" *ngIf="need.NEEDTYPEID !== 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT,need.DONATION_AMOUNT)"></div>

                      <p class="count" *ngIf="need.NEEDTYPEID == 2">{{CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)}}
                        <span>%</span>
                      </p>
                      <div class="bgarea" *ngIf="need.NEEDTYPEID == 2" [style.width.%]="CalculatePercentage(need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED,need.DONATION_AMOUNT_FOR_LARGE_NEED)"></div>
                    </div>
                    <p>Completed</p>
                  </div>
                  <div class="col-xs-4 f-Bold">
                    <span *ngIf="need.NEEDTYPEID !== 2">
                      {{ need.TOTAL_NEED_AMOUNT - need.DONATION_AMOUNT | currency : 'INR'
                      : 'symbol-narrow' : '1.0-0'}}</span>
                    <span *ngIf="need.NEEDTYPEID == 2">
                      {{ (need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED -
                      need.DONATION_AMOUNT_FOR_LARGE_NEED) | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}</span>
                    <br />
                    <p>Required</p>
                  </div>
                </div>
              </div>

              <div class=" GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 3 || need.NEEDTYPEID == 4 || need.NEEDTYPEID == 5'>
                <div class="col-xs-6 col-sm-6 col-md-6 border">
                  <div class="icon">
                    <img src="/assets/images/icon-goal4.png">
                  </div>
                  <p>
                    {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' : '1.0-0'}}
                    <span class="name">Gift Amount</span>
                  </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="icon">
                    <img src="/assets/images/icon-goal2.png">
                  </div>
                  <p>{{need.TOTAL_DONORS}}
                    <span class="name" *ngIf="need.TOTAL_DONORS < 1">Supporter</span>
                    <span class="name" *ngIf="need.TOTAL_DONORS > 1">Supporters</span>
                  </p>
                </div>
              </div>


              <div class="GoalLeft-Wapper" *ngIf='need.NEEDTYPEID == 1 || need.NEEDTYPEID == 2'>
                <div class="col-xs-4 col-sm-4 col-lg-4 border">
                  <div class="icon">
                    <img src="/assets/images/icon-goal.png">
                  </div>
                  <p>
                    <span *ngIf="need.NEEDTYPEID !== 2">
                      {{need.TOTAL_NEED_AMOUNT | currency : 'INR' : 'symbol-narrow' :
                      '4.0-0' }} </span> <!-- number:0 -->
                    <span *ngIf="need.NEEDTYPEID == 2">
                      {{ need.TOTAL_NEED_AMOUNT_FOR_LARGE_NEED | currency : 'INR' :
                      'symbol-narrow' : '4.0-0' }} </span>
                    <span class="name">Goal</span>
                  </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4  border">
                  <div class="icon">
                    <img src="/assets/images/icon-goal2.png">
                  </div>
                  <p>{{need.TOTAL_DONORS}}
                    <span class="name">Supporters</span>
                  </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4 ">
                  <div class="icon">
                    <img src="/assets/images/icon-goal3.png">
                  </div>
                  <p>
                    <span class="name">
                      <strong *ngIf="need.NEEDTYPEID !== 2">{{CalculateDays(need.END_DATE)}}</strong>
                      <strong *ngIf="need.NEEDTYPEID == 2">{{need.DAYS_LEFT_FOR_LARGE_NEED}}</strong>
                      <br />Days Left</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12 text-center listingBar" style="margin-bottom: 30px">
        <button class="BtnBox black" (click)="CWithUs(ConnectWithUs)">Be our Corporate Partner </button>
      </div>
    </div>
  </div>
</div>
<ng-template #ConnectWithUs let-c="close" let-d="dismiss" class="rk">
  <div class="modal-header">
    <h2 class="modal-title ConnectWithUsThankU">Be our Corporate Partner </h2>
    <button type="button" class="close closeBtn" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="SaveCWithUsOnSuccess == false">
    <div class="row">
      <div class=" col-xs-12 ConnectWithUs formWapper">
        <form #CWithUs="ngForm" (ngSubmit)="SaveCWithUs(CWithUs)" novalidate>
          <div class="col-xs-12 col-sm-5 col-md-5 filedname">Organisation Name<sup>*</sup></div>
          <div class="col-xs-12 col-sm-7 col-md-7">
              <input [(ngModel)]="CWUS_NAME" #TXTNAME="ngModel" id="txtName" name="txtName" type="text" class="form-control"
                  placeholder="Enter Organisation Name" pattern="[a-zA-Z&amp;0-9-.,'_() ]*" required />
              <div class="errorMsg" *ngIf="(TXTNAME.touched && !TXTNAME.valid) || (CWithUs.submitted && !TXTNAME.valid)">
                  <span *ngIf="TXTNAME.errors.required">Organisation Name is required.</span>
                  <span *ngIf="TXTNAME.errors.pattern">Please enter valid characters.</span>
              </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5 filedname">Contact Person<sup>*</sup></div>
          <div class="col-xs-12 col-sm-7 col-md-7">
              <input [(ngModel)]="CWUS_CPNAME" #TXTCPNAME="ngModel" id="txtCPN" name="txtCPN" type="text"
                  class="form-control" placeholder="Enter a Contact Person Name" minlength="3" pattern="[a-zA-Z&amp;0-9-.'_() ]*"
                  required />
              <div class="errorMsg" *ngIf="(TXTCPNAME.touched && !TXTCPNAME.valid) || (CWithUs.submitted && !TXTCPNAME.valid)">
                  <span *ngIf="TXTCPNAME.errors.required">Contact Person Name is required.</span>
                  <span *ngIf="TXTCPNAME.errors.pattern">Please enter valid Contact Person Name.</span>
                  <span *ngIf="TXTCPNAME.errors.minlength">Contact Person Name should be minimum {{
                      TXTCPNAME.errors.minlength.requiredLength
                      }} characters.</span>
              </div>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5 filedname">Company Logo</div>
          <div class="col-xs-12 col-sm-7 col-md-7">
              <div class="uploadfile ">
                  <div class="browse-btn">
                      <input [(ngModel)]="CWUS_FILE" #TXTFILE="ngModel" type="file" id="files" name="files"
                          class="inputfile" (change)="SectorImageChange($event)" accept=".jpg, .jpeg, .png, .bmp, .gif"
                           />
                  </div>
                  <div class="nameuploadfile">Upload Company Logo</div>
              </div>
              <div class="clearfix"></div>
              <div class="errorMsg" *ngIf="(TXTFILE.touched && !TXTFILE.valid) || (CWithUs.submitted && !TXTFILE.valid)">
                  <span *ngIf="TXTFILE.errors.required">Company Logo is required.</span>
              </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5 filedname">Contact No.<sup>*</sup> </div>
          <div class="col-xs-12 col-sm-7 col-md-7">
              <input [(ngModel)]="CWUS_CONTECTNO" #TXTCONTECTNO="ngModel" id="txtContactNo" name="txtContactNo"
                  type="text" class="form-control" placeholder="Enter a Contact No." minlength="10" maxlength="10"
                  pattern="^([5-9]{1})([0-9]{9})$" required />
              <div class="errorMsg" *ngIf="(TXTCONTECTNO.touched && !TXTCONTECTNO.valid) || (CWithUs.submitted && !TXTCONTECTNO.valid)">
                  <span *ngIf="TXTCONTECTNO.errors.required">Contact No is required.</span>
                  <span *ngIf="TXTCONTECTNO.errors.pattern">Please enter valid Contact No.</span>
                  <span *ngIf="TXTCONTECTNO.errors.minlength">Contact No. should be minimum {{
                      TXTCONTECTNO.errors.minlength.requiredLength
                      }} characters.</span>
              </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5 filedname">Email ID<sup>*</sup></div>
          <div class="col-xs-12 col-sm-7 col-md-7">
              <input [(ngModel)]="CWUS_EMAIL" #TXTEMAIL="ngModel" id="txtEmail" name="txtEmail" type="text"
                  class="form-control" placeholder="Enter your Email" pattern="^([a-zA-Z0-9]+[._-]?[a-zA-Z0-9])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                  required />
              <div class="errorMsg" *ngIf="(TXTEMAIL.touched && !TXTEMAIL.valid) || (CWithUs.submitted && !TXTEMAIL.valid)">
                  <span *ngIf="TXTEMAIL.errors.required">Email ID is required.</span>
                  <span *ngIf="TXTEMAIL.errors.pattern">Please enter valid Email ID.</span>
              </div>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5 filedname">State</div>
          <div class="col-xs-12 col-sm-7 col-md-7">
            <select [(ngModel)]="CWUS_State" #TXTSTATE="ngModel" id="txtState" name="txtState" class="form-control"
              (change)="GetCity(CWUS_State)">
              <option value="">Select</option>
              <option *ngFor="let state of States" value="{{state.STATEID}}">{{state.STATE_NAME}}</option>
            </select>
            <div class="errorMsg" *ngIf="(TXTSTATE.touched && !TXTSTATE.valid) || (CWithUs.submitted && !TXTSTATE.valid)">
              <span *ngIf="TXTSTATE.errors.required">Please Select State.</span>
            </div>
          </div>
          <!-- <div class="col-xs-12 col-sm-7 col-md-7">
              <input [(ngModel)]="CWUS_State" #TXTSTATE="ngModel" id="txtState" name="txtState" type="text"
                  class="form-control" placeholder="Enter State Name"  pattern="[a-zA-Z&amp;0-9-.'_() ]*"
                   />
              <div class="errorMsg" *ngIf="(TXTSTATE.touched && !TXTSTATE.valid) || (CWithUs.submitted && !TXTSTATE.valid)">
                  <span *ngIf="TXTSTATE.errors.required">Contact Person Name is required.</span>
                  <span *ngIf="TXTSTATE.errors.pattern">Please enter valid Contact Person Name.</span>
                  
              </div>
          </div> -->
          
          <div class="col-xs-12 col-sm-5 col-md-5 filedname">City</div>

          <div class="col-xs-12 col-sm-7 col-md-7">
              <input [(ngModel)]="CWUS_CITY" #TXTCITY="ngModel" id="txtCity" name="txtCity" type="text"
                  class="form-control" placeholder="Enter City Name"  pattern="[a-zA-Z&amp;0-9-.'_() ]*"
                   />
              <div class="errorMsg" *ngIf="(TXTCITY.touched && !TXTCITY.valid) || (CWithUs.submitted && !TXTCITY.valid)">
                  <span *ngIf="TXTCITY.errors.required">Contact Person Name is required.</span>
                  <span *ngIf="TXTCITY.errors.pattern">Please enter valid Contact Person Name.</span>
                  
              </div>
          </div>
          

          <div class="col-xs-12 col-sm-5 col-md-5 filedname">Leave a Message<sup>*</sup></div>
          <div class="col-xs-12 col-sm-7 col-md-7">
              <textarea [(ngModel)]="CWUS_MESSAGE" #TXTMESSAGE="ngModel" id="txtMessage" name="txtMessage"
                  rows="5" class="form-control textarea" minlength="20" maxlength="2000" pattern="[a-zA-Z0-9-.,'_;[\]\&amp;(){}<>/ ]*"
                  type="text" required></textarea>
              <div class="errorMsg" *ngIf="(TXTMESSAGE.touched && !TXTMESSAGE.valid) || (CWithUs.submitted && !TXTMESSAGE.valid)">
                  <span *ngIf="TXTMESSAGE.errors.required">Description is required.</span>
                  <span *ngIf="TXTMESSAGE.errors.pattern">Please enter valid characters.</span>
                  <span *ngIf="TXTMESSAGE.errors.minlength">Description should be minimum {{
                      TXTMESSAGE.errors.minlength.requiredLength
                      }} characters.</span>
                  <span *ngIf="TXTMESSAGE.errors.maxlength">Description can be maximum {{
                      TXTMESSAGE.errors.minlength.requiredLength
                      }} characters.</span>
              </div>
              
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 text-center">
              <input type="submit" value="Submit" class="BtnBox">
          </div>
          <div class="clearfix"></div>
      </form>
      </div>
    </div>
  </div>
</ng-template>