<div class="container-fluid">
  <div class="row PageName">
    <div class="container">
      <ul class="breadcrumb">
        <li>
          <a routerLink="">Home</a>
        </li>
        <li><a href="#">About Us </a></li>
        <li class="active">Contact Us</li>
      </ul>
      <h1 class="pull-left">Contact Us</h1>
    </div>
  </div>

  <div class="row ContactUsWapper sections">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 co-sm-6 col-md-6">
          <p class="t1">World Vision India </p>
          <h3> National Office</h3>
          <p class="t2">16, VOC Main Road, Kodambakkam,
            <br> Chennai - 600 024</p>

            <h3>Delhi Liaison Office</h3> 
            <p class="t2">16, Pandit Pant Marg <br/>
                CNI Bhavan, 4th floor<br/>
                New Delhi – 110001
                </p><br/>


          <p class="t2"> Phone: <a href="tel:+91 44 42287070">+91 44 42287070</a><br>
             Toll free: <a href="tel:1 800 425 4550">1 800 425 4550</a> <br>
             Fax: +91 44 24807242 <br>
            Email: <a href="mailto:admin@hopetoshine.in"> admin@hopetoshine.in</a>
          </p>
          
          
          <!-- <p class="t2"> <strong>Careers:</strong>
            <br> For queries on job opportunities with World Vision India write to us at:
            <br>
            <a href="mailto:wvindiaopportunity@wvi.org">wvindiaopportunity@wvi.org</a> |  Or +91 44 24807123 </p> -->
        </div>
        <form #CONTACTUS="ngForm" (ngSubmit)="PostContactusForm(CONTACTUS)" novalidate>
          <div class="col-xs-12 co-sm-6 col-md-6">
            <div class="ContactForm" >
              <h2>Send us a message</h2>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <input name="name"[(ngModel)]="nameInput" #C_Name="ngModel" type="text" class="form-control inputText" id="name" placeholder="Name" pattern="^[a-zA-Z\s]*$" required>
                    <div class="errorMsg" *ngIf="(C_Name.touched && !C_Name.valid) || (CONTACTUS.submitted && !C_Name.valid)">
                        <span *ngIf="C_Name.errors.required">Name is required.</span>
                        <span *ngIf="C_Name.errors.pattern">Name must be letters.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input name="mobile" [(ngModel)]="mobileInput" #C_Mobile="ngModel" type="tel" class="form-control mobileNoCtrl NumberOnly" id="Mobile" maxlength="10" placeholder="Mobile No" pattern="^([5-9]{1})([0-9]{9})$" required>
                    <div class="errorMsg" *ngIf="(C_Mobile.touched && !C_Mobile.valid) || (CONTACTUS.submitted && !C_Mobile.valid)">
                        <span *ngIf="C_Mobile.errors.required">Mobile No. is required.</span>
                        <span *ngIf="C_Mobile.errors.pattern">Please enter valid characters.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input name="emailId" [(ngModel)]="emailIdInput" #C_EmailId="ngModel" type="text" class="form-control emailId" id="emailId" placeholder="Email ID" pattern="^([a-zA-Z0-9]+[._-]?[a-zA-Z0-9])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required>
                    <div class="errorMsg" *ngIf="(C_EmailId.touched && !C_EmailId.valid) || (CONTACTUS.submitted && !C_EmailId.valid)">
                        <span *ngIf="C_EmailId.errors.required">Email ID is required.</span>
                        <span *ngIf="C_EmailId.errors.pattern">Please enter valid characters.</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <textarea rows="8" [(ngModel)]="feedbackInput" #C_Message="ngModel" name="Feedback" class="form-control textarea inputText" placeholder="Type your message here" id="Feedback" required></textarea>
                    <div class="errorMsg" *ngIf="(C_Message.touched && !C_Message.valid) || (CONTACTUS.submitted && !C_Message.valid)">
                        <span *ngIf="C_Message.errors.required">Message is required.</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 text-right">
                  <button name="" type="submit" class="Btn BtnSubmit" > Submit </button>
                </div> 
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>