<div class="container-fluid">
  <div class="row sections">
    <div class="container">
      <div class="col-xs-12 text-center">
        <h2>How HoSh Fundraising works</h2>
        <br />
      </div>
      <div class="col-xs-12 HowHoShWorks">
        
<div class="clearfix"></div>
        <div class="FundraisingWorks">
          <div>
            <div class='AnimationOne col-xs-12'>
              <div class='row HHWBox'>
                <div class='headStyle'><span class='num'>1 </span> <span>Choose </span>
                  <p>My Share to contribute for the need</p>
                </div>
                <div class='imgBox'> <img src='../../assets/images/1Choose.png' alt="choose"> </div>
                <ul>
                  <li>View needs for donation </li>
                  <li>Select a need for donation</li>
                  <li>Enter a gift amount</li>
                  <li>Register or Login and make a donation</li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class='AnimationTwo col-xs-12'>
              <div class='row HHWBox'>
                <div class='headStyle'><span class='num'>2 </span><span>Referral </span>
                  <p>Share it with your friends and family</p>
                </div>
                <div class='imgBox'><img src='../../assets/images/2Referral.png' alt="referral"> </div>
                <ul>
                  <li>View details of your donation on your donor information page </li>
                  <li>Volunteer by asking friends to donate to the cause that you have selected </li>                  
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div class='AnimationThree col-xs-12'>
              <div class='row HHWBox'>
                <div class='headStyle'><span class='num'>3 </span><span>Monitor </span>
                  <p>Track your invitees </p>
                </div>
                <div class='imgBox'><img src='../../assets/images/3Monitor.png' alt="monitor"> </div>
                <ul>
                    <li>Once the need amount is fully met, project implementation will begin and timely updates can be
                        viewed on your donor information page </li>
                </ul>
              </div>
            </div>
          </div>
            <div>
              <div class='AnimationFour col-xs-12'>
                <div class='row HHWBox'>
                  <div class='headStyle'><span class='num'>4 </span><span>Notification </span>
                    <p>Get Emails on the Need status and report </p>
                  </div>
                  <div class='imgBox'><img src='../../assets/images/4Notification.png' alt="notification"> </div>
                  <ul>
                    <li>See the change you brought about. View pictures of the completed project and the beneficiaries
                      on your donor information page </li>
                    <li>Tell your friends about HoSh </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
